@import "tailwindcss";

/* 눈 내리는 애니메이션 */
@keyframes snowfall {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0.7;
  }
  50% {
    transform: translateY(150px) translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(300px) translateX(-5px);
    opacity: 0;
  }
}